


.icon {
    height:40px;
    margin-left: -15px;
    margin-top: -10px;
}

.text {
    padding-left: 10px;
}

.title {
    font-size: 22px;
    text-align: center;
}


.info {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.accent {
    background-color: rgb(218, 227, 243);
}